<h5>Details captured using linkedin api</h5>

<p>First Name : <%=@user.first_name%></p>
<p>Last Name : <%=@user.last_name%></p>
<p>Email : <%=@user.email%></p>
<p>Contact Number : <%=@user.contact_number%></p>
<p>Public Profile : <%=@user.public_profile_url%></p>